aeppl==0.0.32
aesara==2.7.5
arviz==0.12.1
cachetools==5.2.0
cftime==1.6.1
cloudpickle==2.1.0
cons==0.4.5
cycler==0.11.0
etuples==0.3.5
fastprogress==1.0.2
filelock==3.7.1
fonttools==4.34.4
kiwisolver==1.4.3
logical-unification==0.4.5
matplotlib==3.5.2
miniKanren==1.0.3
multipledispatch==0.6.0
netCDF4==1.6.0
numpy==1.23.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pymc==4.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scipy==1.9.0rc2
six==1.16.0
toolz==0.12.0
typing_extensions==4.3.0
xarray==2022.6.0rc0
xarray-einstats==0.3.0
